@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');

*{
    box-spazig: border-box;
}

#app{
    display: flex;
    flex-direction: column;
    padding: 30%;
    align-items: center;
    justify-content: center;
}



.loader, .spinner{
    margin: 20px auto;
    padding: 20%;
    height: 35%;
}

.loaderBox{
    width: 50px; 
    height: 50px;
    border: 5px white;
    border-right: 5px solid blue;
    border-radius: 50%;
    animation: loader 1s linear infinite;
}

@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.spinnerBox{
  width: 90%;
  animation: loader 1s linear infinite;
}

img{
  width: 100%;
}

/*ANCHOR - page text-animated*/

.boom{
  font-size: 7rem;
  font-family: 'Libre Barcode 128 Text';
  animation: boomTxt 2s linear infinite;
}

.boom:hover{
  animation: loader 1s linear 1;
}

@keyframes colorBlink{
  0%{
    color: #FF0000;
  }
  15%{
    color: #FFA500;
  }
  30%{
    color: #FFFF00;
  }
  45%{
    color: #008000;
  }
  60%{
    color: #0000FF;
  }
  75%{
    color: #4B0082;
  }
  100%{
    color:  #800080;
  }
}

.l{
  animation: colorBlink 1s linear infinite;
  animation-delay: 0.25s;
}

.o{
  animation: colorBlink 1s linear infinite;
  animation-delay: 0.50s;
}

.v{
  animation: colorBlink 1s linear infinite;
  animation-delay: 0.75s;
}

.e{
  animation: colorBlink 1s linear infinite;
  animation-delay: 1s;
}

@keyframes boomTxt{
  0%{
    transform: scale(1)
  }
  25%{
    transform: scale(1.5)
  }
  25%{
    transform: scale(2)
  }
  100%{
    transform: scale(1)
  }
}

